<!-- Generic table for any Pydantic type data type -->
<!-- with option for **include_fields** passed as parameter -->
<!-- and/or option for **exlude_fields** passed as parameter -->
{% extends "base.html" %}
{% block body %}

{% if not include_fields %}
    {% if rows|length > 0 %}
        {% set include_fields =  rows[0].keys() %}
    {% else %}
        {% set include_fields =  [] %}
    {% endif %}
{% endif %}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                {% if table_index and "id" in include_fields %}
                <th scope="col">#</th>
                {% endif %}

                {% for column_name in include_fields %}
                <th scope="col">{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for col in rows %}
            <tr id="table_line_{{ col.id }}">
                {% if table_index and "id" in include_fields %}
                <th scope="col">{{ col.id }}</th>
                {% endif %}

                {% for column_name in col %}
                <td>{{ col[column_name] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
